{% macro headerrow(name, index=None) %}
<tr class='header'><td colspan=6>

<div class='float'>
<div><span class='header'>PayPeriod</span></div>
<div><span class='value'>{{period.startDate().date()}}</span></div>
<div><span class='value'>{{period.endDate().date()}}</span></div>
</div>

<div class='float'>
<div><span class='header'>Employee</span></div>
<div><span class='value'>{{nanny}}</span></div>
</div>

<div class='float'>
<div><span class='header'>Childcare For</span></div>
<div><span class='value'>{{name}}</span></div>
</div>

<div class='float'>
{% if index %}
<div><span class='header'>Employer</span></div>
<div><span class='value'>{{sconfig.employer(index)|replace('\n','<br/>')|safe}}</span></div>
{% else %}
<div><span class='header'>Combined</span></div>
{% endif %}
</div>
</td>

</tr>
<tr class='divider'><td colspan=6></tr>
{% endmacro %}

{% macro periodytd() -%}
<tr class='info'>
<th colspan=3></th>
<th>Period</th>
<th></th>
<th>YTD</th>
</tr>
{% endmacro %}


{% macro taxrow(title, rate, prefix, key, rowclass="") -%}
<tr class='{{rowclass}}'>
<td>{{title}}</td>
<td>{{rate|dpercent}}</td>
<td></td>
<td>{{sums['tax'][prefix + key]|dollar}}</td>
<td></td>
<td>{{sums['tax'][prefix + key + ' YTD']|dollar}}</td>
</tr>
{% endmacro %}


{% macro taxsum(title, key, rowclass="") -%}
<tr class='{{rowclass}}'>
<td>{{title}}</td>
<td></td>
<td></td>
<td>{{sums['tax'][key]|dollar}}</td>
<td></td>
<td>{{sums['tax'][key+' YTD']|dollar}}</td>
</tr>
{% endmacro %}


{% macro sumrow(title, rate, key, rowclass="") -%}
<tr class='{{rowclass}}'> 
<td>{{title}}</td>
<td>{{rate|dollar(True)}}</td>
<td>{{sums['hours'][key]|h3}}</td>
<td>{{sums['sums'][key]|dollar}}</td>
<td>{{sums['hours'][key+' YTD']|h3}}</td>
<td>{{sums['sums'][key+' YTD']|dollar}}</td>
</tr>
{% endmacro %}


{% macro netrow(key) -%}
<tr class='netpay'>
<td>Net Pay</td>
<td></td>
<td></td>
<td>{{sums['net'][key]|dollar}}</td>
<td></td>
<td>{{sums['net'][key+' YTD']|dollar}}</td>
</tr>
{% endmacro %}


{% macro hourstable() -%}
{% set ns = namespace(both=0, bothot=0, sick=0, holiday=0) %}

<table class='hours'>
{# Header row #}
<tr>
<th class='date'>Date</th>
{% for name in children %}
<th>{{name}}</th>
{% endfor %}
<th>Both</th>
{% for name in children %}
<th>{{name}} OT</th>
{% endfor %}
<th>Both OT</th>
<th>Sick</th>
<th>Holiday</th>
</tr>

{# Main loop of hours reported for each day #}
{% for h in hours %}
{% set ns.both    = ns.both    + h.data.get('Both',0) %}
{% set ns.bothot  = ns.bothot  + h.data.get('Both OT', 0) %}
{% set ns.sick    = ns.sick    + h.data.get('Sick', 0) %}
{% set ns.holiday = ns.holiday + h.data.get('Holiday', 0) %}

<tr>
<td class='date'>{{h.date.date()}}</td>
{% for name in children %}
<td>{{h.data[name]|h2}}</td>
{% endfor %}
<td>{{h.data['Both']|h2}}</td>
{% for name in children %}
<td>{{h.data[name+' OT']|h2}}</td>
{% endfor %}
<td>{{h.data['Both OT']|h2}}</td>
<td>{{h.data['Sick']|h2}}</td>
<td>{{h.data['Holiday']|h2}}</td>
</tr>
{% endfor %}

{# Summation row #}
<tr class='hourssum'>
<td></td>
{% for name in children %}
<td>{{sums['hours'][name]|h2}}</td>
{% endfor %}
<td>{{ns.both|h2}}</td>
{% for name in children %}
<td>{{sums['hours'][name+' OT']|h2}}</td>
{% endfor %}
<td>{{ns.bothot|h2}}</td>
<td>{{ns.sick|h2}}</td>
<td>{{ns.holiday|h2}}</td>
</tr>
<tr>
<td colspan=9 class='sick'>Sick Accumulated: {{sums['sums']['SickAccum']|h2}}</td>
</tr>
<table>
{% endmacro %}


{% macro reimbursementtable() -%}
<table class='reimbursements'>
{% if reimb %}
<tr>
<th class='date'>Date</th>
<th>Amount</th>
<th>Notes</th>
</tr>

{% for r in reimb %}
<tr>
<td style='width:15%'>{{r.date.date()}}</td>
<td style='width:15%'>{{r.amount|dollar(True)}}</td>
<td style='width:70%'>{{r.notes}}</td>
</tr>
{% endfor %}
{% endif %}
<table>
{% endmacro %}


{% macro singletable(name, index) -%}
<table class='paystub'>
{{headerrow(name, index)}}
{{periodytd()}}
{{sumrow('One-Child',               rates[0],           name)}}
{{sumrow('Two-Child Half',          rates[1],           name+' Both')}}
{{sumrow('Overtime One-Child',      rates[2],           name+' OT')}}
{{sumrow('Overtime Two-Child Half', rates[3],           name+' Both OT')}}
{{sumrow('Sick Half',               rates[0:2]|reverse, name+' Sick')}}
{{sumrow('Holiday Half',            rates[0:2]|reverse, name+' Holiday')}}
{{sumrow('Gross',                     '',                   name+' Gross', 'summation')}}
{{periodytd()}}
{{taxrow('Federal Witholding',        '',                        name+' ', 'Fed')}}
{{taxrow('Social Security',           sconfig.social_security/2, name+' ', 'SS1')}}
{{taxrow('Medicare',                  sconfig.medicare/2,        name+' ', 'Medicare1')}}
{{taxrow('WA Medical & Family Leave', sconfig.family_leave,      name+' ', 'WALeave')}}
{{taxsum('Employee Taxes',                                       name+' EmployeeTax', 'summation')}}
{{sumrow('Reimbursements Half', '',                              name+' Reimbursements')}}
{{netrow(name)}}
{{periodytd()}}
{{taxrow('Social Security',      sconfig.social_security/2, name+' ', 'SS2', 'small')}}
{{taxrow('Medicare',             sconfig.medicare/2,        name+' ', 'Medicare2', 'small')}}
{{taxrow('Federal Unemployment', sconfig.fed_unemployment,  name+' ', 'FedUnemp', 'small')}}
{{taxrow('WA Unemployment',      sconfig.wa_unemployment,   name+' ', 'WAUnemp', 'small')}}
{{taxsum('Employer Taxes',                                  name+' EmployerTax', 'small summation')}}
</table>
{% endmacro %}


{% macro esd(child, data) %}
<table class='esd'>
<tr>
<th></th>
<th colspan=2>CSV</th>
<th>SSN</th>
<th>Name</th>
<th>Hours</th>
<th>Wages</th>
</tr>
{% for ii in range(1,5) %}
{% for nanny in sconfig.nannies %}
<tr>
{% if loop.index == 1 %}
{% set span=sconfig.nannies|length %}
<th rowspan={{span}}>Q{{ii}}</th>
<td rowspan={{span}}><a href='data:text/csv,{{data[ii]['csv']['esd']}}' download='esd-{{child}}-q{{ii}}.csv'>ESD</a>
<td rowspan={{span}}><a href='data:text/csv,{{data[ii]['csv']['leave']}}' download='leave-{{child}}-q{{ii}}.csv'>Leave</a>
{% endif %}
<td>{{sconfig.ssn(nanny)}}</td>
<td>{{nanny}}</td>
<td>{{data[ii][nanny]['hours']}}</td>
<td>{{data[ii][nanny]['wages']}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endmacro %}


{% macro w2(data) %}
<table class='w2'>
<tr><th>Box</th><th>Value</th></tr>
<tr><td>1</td> <td>{{data['gross']}}</td></tr>
<tr><td>2</td> <td>{{data['fed']}}</td></tr>
<tr><td>3</td> <td>{{data['gross']}}</td></tr>
<tr><td>4</td> <td>{{data['ss']}}</td></tr>
<tr><td>5</td> <td>{{data['gross']}}</td></tr>
<tr><td>6</td> <td>{{data['medicare']}}</td></tr>
</table>
{% endmacro %}


{% macro scheduleH(data) %}
<table class='scheduleH'>
{% set combo = data['fed']+data['medicare']+data['ss'] %}
{% set total = combo + data['futa'] %}
<tr><th>Box</th><th>Value</th></tr>
<tr><td>1</td> <td>{{data['gross']|dollar}}</td></tr>
<tr><td>2</td> <td>{{data['ss']|dollar}}</td></tr>
<tr><td>3</td> <td>{{data['gross']|dollar}}</td></tr>
<tr><td>4</td> <td>{{data['medicare']|dollar}}</td></tr>
<tr><td>7</td> <td>{{data['fed']|dollar}}</td></tr>
<tr><td>8</td> <td>{{combo|dollar}}</td></tr>
<tr><td>9</td> <td>Yes</td></tr>
<tr><td>10</td> <td>Yes</td></tr>
<tr><td>11</td> <td>Yes</td></tr>
<tr><td>12</td> <td>Yes</td></tr>

<tr><td>13</td> <td>Washington</td></tr>
<tr><td>14</td> <td>{{data['waunemp']|dollar}}</td></tr>
<tr><td>15</td> <td>{{data['futagross']|dollar}}</td></tr>
<tr><td>16</td> <td>{{data['futa']|dollar}}</td></tr>

<tr><td>25</td> <td>{{combo|dollar}}</td></tr>
<tr class='net'><td>26</td> <td>{{total|dollar}}</td></tr>
<tr><td>27</td> <td>Yes</td></tr>

</table>
{% endmacro %}
